/UserSettings/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Tt]emp/
/Assets/TextMesh Pro/
/Assets/TextMesh Pro.meta
/Assets/AddressableAssetsData
/Assets/AddressableAssetsData.meta

/.vs
/.vscode
/.vsconfig

*.sln
*.csproj